.netflixlogo {
  width: 80px;
}
.avatarLogo {
  width: 40px;
}
.logos {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.navBlack {
  background-color: black;
}
