.titles {
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
}
.rowPoster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}
.rowPosters {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.rowPosters::-webkit-scrollbar {
  display: none;
}

.rowPoster:hover {
  transform: scale(1.08);
}
.largePoster {
  max-height: 250px;
}
.row {
  margin-left: 15px;
  color: white;
}
