.titles {
  font-weight: bold;
  font-size: 25px;
}
.rowPoster {
  width: 90%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 1%;
  transition: transform 450ms;
}
.rowPosters {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.rowPosters::-webkit-scrollbar {
  display: none;
}

.rowPoster:hover {
  transform: scale(1.08);
}
.largePoster {
  max-height: 250px;
}
.row {
  margin-left: 15px;
  color: white;
}
.containers {
  width: 98%;
}
